{% extends 'base/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">

                <div class="header">
                    <h4 class="title">Registrar Sitio</h4>
                </div>

                <div class="content">
                    <!--<form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.nombre.errors }}
                                    <label for="{{ form.nombre.id_for_label }}">Nombre</label>
                                    {{ form.nombre }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.titulo.errors }}
                                    <label for="{{ form.titulo.id_form_label }}">Titulo</label>
                                    {{ form.titulo }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form.logo.errors }}
                                    <label for="{{ form.logo.id_form_label }}">Logo</label><br>
                                    {{ form.logo }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form.horario.errors }}
                                    <label for="{{ form.horario.id_form_label }}">Horario</label>
                                    {{ form.horario }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form.telefono.errors }}
                                    <label for="{{ form.telefono.id_form_label }}">Telefono</label>
                                    {{ form.telefono }}
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.descripcion.errors }}
                                    <label for="{{ form.descripcion.id_form_label }}">Descripcion</label>
                                    {{ form.descripcion }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.direccion.errors }}
                                    <label for="{{ form.direccion.id_form_label }}">Direccion</label>
                                    {{ form.direccion }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.latitud.errors }}
                                    <label for="{{ form.latitud.id_form_label }}">Latitud</label>
                                    {{ form.latitud }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.longitud.errors }}
                                    <label for="{{ form.longitud.id_form_label }}">Longitud</label>
                                    {{ form.longitud }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.instagram.errors }}
                                    <label for="{{ form.instagram.id_form_label }}">Instagram</label>
                                    {{ form.instagram }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.facebook.errors }}
                                    <label for="{{ form.facebook.id_form_label }}">Facebook</label>
                                    {{ form.facebook }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form2.imagen.errors }}
                                    <label for="{{ form2.imagen.id_for_label }}">Imagen</label>
                                    {{ form2.imagen }}
                                    <strong class="text-danger">{{ error }}</strong>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.subcategoria.errors }}
                                    <label for="{{ form.subcategoria.id_form_label }}">Subcategoria</label>
                                    {{ form.subcategoria }}
                                </div>
                            </div>
                        </div>

                        <div class="botones" style="margin-top: 30px;">
                            <button type="submit" class="btn btn-primary active">Registrar</button>
                            <a class="btn btn-default active" href="{% url 'sitio:listar' %}">Cancelar</a>
                        </div>
                    </form>-->
                    {{ form.as_p }}
                    {{ form2.as_p }}
                    <div class="botones" style="margin-top: 30px;">
                            <button class="btn btn-primary active">Registrar</button>
                            <a class="btn btn-default active" href="{% url 'sitio:listar' %}">Cancelar</a>
                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}