{% extends 'base/base.html' %}
{% block title %}
    Listado de categorias
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Listado de categorias</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: center;">ID</th>
                                <th style="text-align: center;">Nombre</th>
                                <th style="text-align: center;">Acciones</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if object_list %}
                                {% for categoria in object_list %}
                                    <tr>
                                        <td>{{ categoria.id }}</td>
                                        <td>{{ categoria.nombre }}</td>
                                        <td>
                                            <a class="btn btn-primary active"
                                               href="{% url 'categorias:categoria_editar' categoria.id %}">Editar</a>
                                            <a class="btn btn-danger active"
                                               href="{% url 'categorias:categoria_eliminar' categoria.id %}">Eliminar</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            {% else %}
                                <h1>No hay registro de categorias</h1>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}