container_commands:
  00_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python MiRegionCO/manage.py makemigrations --noinput"
    leader_only: true
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python MiRegionCO/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python MiRegionCO/manage.py createsu"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MiRegionCO.settings"
    "PYTHONPATH": "/opt/python/current/app/MiRegionCO:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: MiRegionCO/MiRegionCO/wsgi.py
    NumProcesses: 1
    NumThreads: 15
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"