{% extends 'base/base.html' %}
{% block title %}
    Formulario de notificaciones
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Registrar Notificación</h4>
                </div>
                <div class="content">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="botones" style="margin-top: 30px;">
                            <input type="submit" value="Registrar" class="btn btn-primary active">
                            <a class= "btn btn-default active" href="{% url 'categorias:categoria_listar' %}">Cancelar</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}