{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extracss %}
    <style type="text/css">
        .chkbox {
            width: 20px;
        }

        div.form-group-image {
            display: flex;
            overflow: scroll;
            -webkit-box-shadow: 0 13px 25px -5px rgba(0, 0, 0, 0.17);
            -moz-box-shadow: 0 13px 25px -5px rgba(0, 0, 0, 0.17);
            box-shadow: 0 13px 25px -5px rgba(0, 0, 0, 0.17);
            /*border-top-right-radius: 15px;
            border-top-left-radius: 15px;*/
            border: 1px solid rgba(0, 0, 0, 0.10);

        }

        .form-group-image .img-wrap {
            margin: 2%;
        }

        .form-group-file {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '311007229311399',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.10'
            });
            FB.AppEvents.logPageView();
            FB.login(function (response) {
            });

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }

            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function ConsultarVideo() {
            var idVideo = document.getElementById("id_video");
            FB.api(
                '/' + idVideo.value,
                'GET',
                {"fields": "source"},
                function (response) {
                    if (response.source === undefined) {
                        idVideo.value = "No se ha encontrado video"
                    } else {
                        idVideo.value = response.source
                    }
                }
            );
        }
    </script>

    <div class="col-md-12">
        <div class="card">
            <div style="margin-top: 10px;" class="fb-login-button" data-max-rows="1" data-size="small"
                 data-button-type="login_with"
                 data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>
            <div class="header">
                <h4 class="title">Registrar noticia</h4>
            </div>

            <div class="content">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-group date" style="display: block;">
                                    {{ form.fecha.errors }}
                                    <label for="{{ form.fecha.id_for_label }}">Fecha</label>
                                    {{ form.fecha }}
                                    <span class="">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class='input-group date' style="display:block;">
                                    {{ form.hora.errors }}
                                    <label for="{{ form.hora.id_for_label }}">Hora</label>
                                    {{ form.hora }}
                                    <span class="">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.titular.errors }}
                                <label for="{{ form.titular.id_for_label }}">Titular</label>
                                {{ form.titular }}
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.lead.errors }}
                                <label for="{{ form.lead.id_for_label }}">Lead</label>
                                {{ form.lead }}
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.texto.errors }}
                                <label for="{{ form.texto.id_for_label }}">Texto</label>
                                {{ form.texto }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            {% if noticia.imagenes.all %}
                                <div class="form-group-image">
                                    {% for imagen in noticia.imagenes.all %}
                                        <div class="img-wrap">
                                            <span class="close" onclick="deleteElement({{ imagen.id }})"
                                                  data-id="{{ imagen.id }}">&times;</span>
                                            <img src="{{ MEDIA_URL }} {{ imagen.imagen.url }}"
                                                 name="imagen_{{ imagen.id }}" data-id="{{ imagen.id }}"
                                                 style="max-width: 200px; height:80px;">
                                        </div>

                                    {% endfor %}
                                    <hr>
                                </div>
                            {% endif %}

                            <div class="form-group-file">
                                {{ form2.imagen.errors }}
                                <label for="{{ form2.imagen.id_for_label }}">Imagen</label>
                                {{ form2.imagen }}
                                <strong class="text-danger">{{ error }}</strong>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.url.errors }}
                                <label for="{{ form.url.id_for_label }}">URL</label>
                                {{ form.url }}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.video.errors }}
                                <label for="{{ form.video.id_for_label }}">Video</label>
                                {{ form.video }}
                                <button style="margin-top: 9px; border-radius: 13px;"
                                        class="btn btn-sm btn-danger active" onclick="ConsultarVideo()">Agregar URL
                                </button>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="id_tags">Tags</label>
                                {% if noticia.tag %}
                                    <input id="id_tags" name="tags" class="form-control" maxlength="9999" required
                                           value="{{ noticia.tag.all|join:", " }}">
                                {% else %}
                                    <input id="id_tags" name="tags" class="form-control" maxlength="9999" required>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.categoria.errors }}
                                <label for="{{ form.categoria.id_for_label }}">Categoria</label>
                                {{ form.categoria }}
                                <strong class="text-danger">{{ error }}</strong>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="autor">Autor</label>
                                <input class="form-control" value="{{ user.first_name }} {{ user.last_name }}"
                                       disabled>
                            </div>
                        </div>


                        <div class="col-md-4" style="margin-top: 2%;">
                            <div class="form-group">
                                <div class="checkbox-inline">
                                    {{ form.destacada.errors }}
                                    {{ form.destacada }}<label for="{{ form.destacada.id_for_label }}">¿Es<br>
                                    destacada?</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="botones" style="margin-top: 30px;">
                        <input type="submit" class="btn btn-primary active" value="Registrar">
                        <a class="btn btn-default active" href="{% url 'noticia:listar' %}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        /*$('.img-wrap .close').on('click', function () {
            var id_imagen = $(this).closest('.img-wrap').find('img').data('id');
        });*/

        function deleteElement(imagen_id) {
            var img_conf = confirm("¿Desea eliminar la imagen?");
            if (img_conf) {
                $(document).ready(function () {
                    $.ajax({
                        url: "{% url 'noticia:delete_imagen' %}",
                        type: "POST",
                        data: {
                            imagen_id: imagen_id,
                            noticia: {{noticia.id}},
                            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                        },
                        success: function (data) {
                            $("span[data-id=" + imagen_id + "]").remove();
                            $("img[data-id=" + imagen_id + "]").remove();
                        },
                        error: function (data) {
                            alert('AJAX NO TRABAJA HOY');
                            console.log(data);
                        }
                    });
                });
            }
        }


    </script>
{% endblock %}
