{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    Productos
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="margin-bottom: 22px;">Listado de productos</h4>
                    </div>

                    <a href="{% url 'producto:crear_producto' %}" class="btn btn-primary active">Crear producto</a>

                    <div class="content table-full-width table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr role="row">
                                <th style="text-align: center;">ID</th>
                                <th style="text-align: center;">Tiempo</th>
                                <th style="text-align: center;">Precio</th>
                                <th style="text-align: center;">Acciones</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if object_list %}
                                {% for producto in object_list %}
                                    <tr role="row">
                                        <td>{{ producto.id }}</td>
                                        <td>{{ producto.tiempo }}{{ producto.medida }}</td>
                                        <td>${{ producto.precio }}</td>
                                        <td>
                                            {% if perms.producto.delete_producto %}
                                                <div class="btn-group">
                                                    <a class="btn btn-primary active"
                                                       href="{% url 'producto:editar_producto' producto.id %}">Editar</a>
                                                    <button type="button"
                                                            class=" btn btn-primary active dropdown-toggle"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>

                                                    <ul class="dropdown-menu" role="menu"
                                                        style="min-width: 104px!important; text-align: center!important;">
                                                        <li>
                                                            <a class=" btn-danger btn-sm active" data-toggle=""
                                                               href="{% url 'producto:eliminar_producto' producto.id %}">Eliminar</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {% else %}

                                                <a class="btn btn-primary active"
                                                   href="{% url 'producto:editar_producto' producto.id %}">Editar</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <h4>No hay registros</h4>
                            {% endif %}
                            </tbody>
                        </table>
                        {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}