{% extends 'base/base_pagina_web.html' %}
{% load staticfiles %}
{% load escape_qoute %}

{% block extra_css %}
    <link href="{% static 'pagina_web/css/style_content.css' %}" rel='stylesheet' type='text/css'/>
    <style>
        iframe {
            width: 220px;
            height: 150px;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'pagina_web/js/responsiveslides.min.js' %}"></script>
    <!-- Boton ver mas -->
    <script>
        $(document).ready(function () {
            var next_page = 2;
            var boton = document.getElementById('btn-ver-mas');
            boton.onclick = function () {
                // Ajax to more news
                $.ajax({
                    url: '{% url 'api:news_feed2_api' %}?page=' + next_page,
                    type: 'GET',
                    dataType: 'application/json',
                    complete: function (data) {
                        var json = JSON.parse(data.responseText);
                        if (json.next === null) {
                            boton.style.display = 'none';
                        } else {
                            next_page = next_page + 1;
                        }
                        console.log(json);
                        var contenedor_noticias = document.getElementById('div-noticias');
                        // Armamos las 10 nuevas noticias
                        var arr_noticias = json.results;
                        arr_noticias.forEach(function (noticia) {
                            var url_mask = "{% url 'pagina_web:noticia_id' 1 %}".replace(/1/, noticia.id);
                            var imagen_noticia = noticia.imagenes[0].imagen.replace('/', '\\/');
                            var noticia_html =
                                '<div class="col-md-6 top-text">' +
                                '<div class="top-text_img">' +
                                '<a href="' + url_mask + '">' +
                                '<img src="' + imagen_noticia + '" class="img-responsive" alt="">' +
                                '</a>' +
                                '</div>' +
                                '<h5 class="top">' +
                                '<a href="' + url_mask + '">' + noticia.titular + '</a>' +
                                '</h5>' +
                                '<p>' + noticia.lead + '</p>' +
                                '<p class="top-text_fecha">' + noticia.fecha + '</p>' +
                                '</div>';
                            contenedor_noticias.innerHTML += noticia_html;
                        });
                    }
                })
            }
        });
    </script>

    <script>
        function init() {
            FB.api(
                '/me/live_videos?access_token=EAAEa3ANsZBacBAELBoNaMNZC74ZBk2ZCY5hEi5VVZAaU7OWI0VEVpNZC0LYmv8jiZBSnBBjFXfnw9nU6Qtma18qYveBZCq15hw0ZBmfLoBLQK3t92uzmF0Yip4NeRowSU0gZBqXzu5zsFLQ4BqqvbbZCo5iJqflZADPK8A1YEIA9xbawJQZDZD',
                'GET',
                {"fields": "status,title,description,creation_time,embed_html", "limit": "15"},
                function (response) {
                    var contenedor_videos = document.getElementById('contenedor-videos-facebook-live');
                    response.data.forEach(function (video) {
                        if (video.status !== "UNPUBLISHED" && video.status !== "LIVE_STOPPED") {
                            console.log(video);
                            var video_html =
                                '<div class="editor-pics">' +
                                '<div class="col-md-6 item-pic">' +
                                    video.embed_html +
                                '</div>\n' +
                                '<div class="col-md-6 item-details">\n' +
                                '<h5 class="inner two">' + ((video.hasOwnProperty('title')) ? video.title : video.description) + '</h5>\n' +
                                '<div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>' + video.creation_time + '</div>\n' +
                                '</div>\n' +
                                '<div class="clearfix"></div>\n' +
                                '</div>';
                            contenedor_videos.innerHTML += video_html;
                        }
                    });
                }
            );
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '311007229311399',
                autoLogAppEvents: false,
                xfbml: false,
                version: 'v2.10'
            });
            //FB.AppEvents.logPageView();

            init();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Script modal -->
    <script>
        $(document).ready(function () {
            $("#cerrar").click(function () {
                $("#modal").css("display", "none")
                ;
            })
        });
    </script>
{% endblock %}

{% block contenido_web %}
    <!--
    <div class="modal" id="modal">

        <div class="contenido_modal">

            <input type="checkbox" id="cerrar">
            <label for="cerrar" id="btn_cerrar">x</label>
            <div class="banner_modal">
                <p>Deliciosa carne de caballo</p>
                <img src="{% static 'pagina_web/images/cover.jpeg' %}" alt="" class="img-responsive">
            </div>
            <div class="descripcion_modal">
                <div class="logo_modal">
                    <img src="{% static 'pagina_web/images/logo_hacienda.jpeg' %}" alt="">
                </div>
                <div class="call_action">
                    <p>Invitacion a la Acciòn</p>
                    <a href="#" class="btn_modal btn-lg btn-success">contactar</a>
                </div>

            </div>
        </div>
    </div> -->

    <!-- Banner noticias destacadas -->
    <div class="banner-section">
        <h1 class="tittle">Titulares Regional</h1>
        <div class="banner">
            <!-- Slideshow 4 -->
            <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    {% for noticia_destacada in noticias_destacadas %}
                        <li>
                            <a href="{% url 'pagina_web:noticia_id' noticia_destacada.id %}">
                                <img src="{{ noticia_destacada.imagenes.first.imagen.url }}" alt="">
                            </a>
                            <a href="{% url 'pagina_web:noticia_id' noticia_destacada.id %}">
                                <p class="caption">{{ noticia_destacada.titular }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <script>
                // You can also use "$(window).load(function() {"
                $(document).ready(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        touch: true,
                        pager: false,
                        nav: true,
                        speed: 500,
                        pause: true,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });
                });
            </script>
            <div class="clearfix"></div>
        </div>
        <!--  Banner noticias destacadas -->

        <!--  Noticias  -->
        <div class="top-news">
            <div id="div-noticias" class="top-inner">
                {% for noticia in noticias %}
                    <div class="col-md-6 top-text">
                        <div class="top-text_img">
                            <a href="{% url 'pagina_web:noticia_id' noticia.id %}"><img
                                    src="{{ noticia.imagenes.first.imagen.url }}" class="img-responsive"
                                    alt=""></a>
                        </div>
                        <h5 class="top"><a href="{% url 'pagina_web:noticia_id' noticia.id %}">{{ noticia.titular }}</a>
                        </h5>
                        <p>{{ noticia.lead }}</p>
                        <p class="top-text_fecha">
                            {{ noticia.fecha }}
                            <!--<a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>0</a>-->
                        </p>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
        <!--  Noticias -->

        <!-- Controles paginado -->
        <div style="display: flex;justify-content: center;">
            <img id="btn-ver-mas" src="{% static 'pagina_web/images/btn_ver_mas.jpg' %}" style="width: 200px; height: 100px">
        </div>
        <!-- Controles paginado -->
    </div>
    <!--//banner-section-->
    <div class="banner-right-text">
        <h3 class="tittle"><span class="glyphicon glyphicon-facetime-video" style="color: red;"></span> Videos</h3>
        <!--/general-news-->
        <div class="general-news">
            <div class="general-inner">
                <!--
                <div class="general-text">
                    <a href="single.html"><img src="images/gen1.jpg" class="img-responsive" alt=""></a>
                    <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam
                        eratsed diam justo duo dolores rebum.</p>
                    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>0 </a>
                    </p>
                </div>-->
                <!-- Videos Live Facebook -->
                <div id="contenedor-videos-facebook-live" class="edit-pics">

                </div>

                <!--
                <div class="media">
                    <h3 class="tittle media">Media <i class="glyphicon glyphicon-floppy-disk"></i></h3>
                    <div class="general-text two">
                        <a href="single.html"><img src="images/gen3.jpg" class="img-responsive" alt=""></a>
                        <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>
                        <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna
                            aliquyam eratsed diam justo duo dolores rebum.</p>
                        <p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>0
                        </a></p>
                    </div>
                </div>
                <div class="general-text two">
                    <a href="single.html"><img src="images/gen2.jpg" class="img-responsive" alt=""></a>
                    <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam
                        eratsed diam justo duo dolores rebum.</p>
                    <p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>0 </a>
                    </p>
                </div> -->
            </div>
        </div>
        <!--//general-news-->
        <!--/news-->
        <!--/news-->
    </div>
{% endblock %}