{% extends 'base/base_pagina_web.html' %}
{% load staticfiles %}
{% load escape_qoute %}

{% block extra_css %}
    <link href="{% static 'pagina_web/css/style_content.css' %}" rel='stylesheet' type='text/css'/>
    <style>
        iframe {
            width: 220px;
            height: 150px;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'pagina_web/js/responsiveslides.min.js' %}"></script>

    <!---------------------------- Boton ver mas ---------------------------->
    <script>
        $(document).ready(function () {
            //Send statisct
            send_statistics('{% url 'api:visita_index_web' %}');

            var next_page = 2;
            var boton = document.getElementById('btn-ver-mas');
            var contenedor_noticias = document.getElementById('div-noticias');
            var nomasNoticias = false;
            boton.onclick = function () {
                // Ajax to more news
                $.ajax({
                    url: '{% url 'api:web_news_feed2_api' %}?page=' + next_page,
                    type: 'GET',
                    dataType: 'application/json',
                    complete: function (data) {
                        var json = JSON.parse(data.responseText);
                        if (json.next === null || json.hasOwnProperty('detail')) {
                            boton.style.display = 'none';
                            nomasNoticias = true;
                        } else {
                            next_page = next_page + 1;
                            nomasNoticias = false;
                        }
                        console.log(json);
                        // Armamos las 10 nuevas noticias
                        var arr_noticias = json.results;
                        arr_noticias.forEach(function (noticia) {
                            var url_mask = "{% url 'pagina_web:noticia_id' 1 %}".replace(/1/, noticia.id);
                            var imagen_noticia = noticia.imagenes[0].imagen.replace('/', '\\/');
                            var noticia_html =
                                '<div class="col-md-6 top-text">' +
                                '<div class="top-text_img">' +
                                '<a href="' + url_mask + '">' +
                                '<img src="' + imagen_noticia + '" class="img-responsive" alt="">' +
                                '</a>' +
                                '</div>' +
                                '<h5 class="top">' +
                                '<a href="' + url_mask + '">' + noticia.titular + '</a>' +
                                '</h5>' +
                                '<p>' + noticia.lead + '</p>' +
                                '<p class="top-text_fecha">' + noticia.fecha + '</p>' +
                                '</div>';
                            contenedor_noticias.innerHTML += noticia_html;
                        });
                        contenedor_noticias.innerHTML += '<div class="clearfix"></div>';
                        if (nomasNoticias) {
                            contenedor_noticias.innerHTML += '<h1 style="text-align: center">No hay más {{ categoria.nombre }}</h1>';
                        }
                    }
                })
            }
        });
    </script>
    <!---------------------------- Boton ver mas ---------------------------->


    <!------------------ banner right videos y banner publicitarios -------------------->

    <script>
        function init() {
            FB.api(
                '/me/live_videos?access_token=EAAEa3ANsZBacBAELBoNaMNZC74ZBk2ZCY5hEi5VVZAaU7OWI0VEVpNZC0LYmv8jiZBSnBBjFXfnw9nU6Qtma18qYveBZCq15hw0ZBmfLoBLQK3t92uzmF0Yip4NeRowSU0gZBqXzu5zsFLQ4BqqvbbZCo5iJqflZADPK8A1YEIA9xbawJQZDZD',
                'GET',
                {"fields": "status,title,description,creation_time,embed_html", "limit": "50"},
                function (response) {
                    var contenedor_videos = document.getElementById('contenedor-videos-facebook-live');
                    var aux = -1;
                    var isFirst = true;
                    var maxVideos = 0;
                    response.data.forEach(function (video) {
                        if (video.status !== "UNPUBLISHED" && video.status !== "LIVE_STOPPED") {
                            aux += 1;
                            maxVideos += 1;
                            if (maxVideos <= 7) {
                                if (isFirst) {
                                    var video_html =
                                        '<div class="col-md-12 item-details">\n' +
                                        '<h5 class="inner one">' + ((video.hasOwnProperty('title')) ? video.title : video.description) + '</h5>\n' +
                                        '<div class="container_embed">' + video.embed_html + '</div>\n' +
                                        '<div class="td-post-date one"><i class="glyphicon glyphicon-time"></i>' + (video.creation_time).split('T')[0] + '</div>\n' +
                                        '</div>\n' +
                                        '<div class="clearfix"></div>\n' +
                                        '</div>';
                                    contenedor_videos.innerHTML += video_html;
                                    isFirst = false;
                                } else {
                                    var video_html =
                                        '<div class="editor-pics item-details">' +
                                        '<div class="col-md-6 item-pic container_embed_small">' +
                                        video.embed_html +
                                        '</div>\n' +
                                        '<div class="col-md-6 descripcion_small">\n' +
                                        '<h5 class="inner two">' + ((video.hasOwnProperty('title')) ? video.title : video.description) + '</h5>\n' +
                                        '<div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>' + (video.creation_time).split('T')[0] + '</div>\n' +
                                        '</div>\n' +
                                        '<div class="clearfix"></div>\n' +
                                        '</div>';
                                    contenedor_videos.innerHTML += video_html;
                                }


                                if (aux === 2) {
                                    aux = 0;
                                    var espacio_publicitario =
                                        '<div class="banner_right item-details" style="height:200px">\n' +
                                        '<div class="contenido_publicidad_right">\n' +
                                        '<h5>PAUTE AQUI!!!<span class="glyphicon glyphicon-hand-down"></span></h5>\n' +
                                        '</div>\n' +
                                        '</div>';
                                    contenedor_videos.innerHTML += espacio_publicitario;
                                }
                            }
                        }
                    });
                }
            );
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '311007229311399',
                autoLogAppEvents: false,
                xfbml: false,
                version: 'v2.10'
            });
            //FB.AppEvents.logPageView();

            init();
        };
    </script>

    <!---------------------- Script modal publicitario ---------------------->
    <script>
        $(document).ready(function () {
            $("#cerrar").click(function () {
                $("#modal_publicitario").css("display", "none")
                ;
            })
        });
    </script>
{% endblock %}

{% block contenido_web %}

    <div class="modal_publicitario" id="modal_publicitario">

        <div class="contenido_modal">

            <input type="checkbox" id="cerrar">
            <label for="cerrar" id="btn_cerrar">x</label>
            <div class="banner_modal">
                <p>Deliciosa carne de caballo</p>
                <img src="{% static 'pagina_web/images/banner-publicidad.png' %}" alt="" class="img-responsive">
            </div>
            <div class="descripcion_modal">
                <div class="logo_modal">
                    <img class="img-responsive" src="{% static 'pagina_web/images/logo1.png' %}" alt="">
                </div>
                <div class="call_action">
                    <h1>Descarga la App ya!!<span>&#160;</span></h1>
                    <div class="btn_store_banner">
                        <a href='https://goo.gl/UPUCvR'><img class='img-responsive' alt='Disponible en Google Play'
                                                             src='{% static 'pagina_web/images/btn_android.png' %}'/></a>
                        <a href='https://goo.gl/fzaCMT'><img class='img-responsive' alt='Disponible en App Store'
                                                             src='{% static 'pagina_web/images/btn_ios.png' %}'/></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Banner cabecera index -->

    <div class="banner_cabecera">
        <div class="contenido_publicidad_cabecera">
            <h5>Seccion Banner Publicitario</h5>
        </div>
    </div>

    <!-- Banner noticias destacadas -->
    <div class="banner-section">
        <h1 class="tittle">Titulares Regional</h1>
        <div class="banner">
            <!-- Slideshow 4 -->
            <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    {% for noticia_destacada in noticias_destacadas %}
                        <li>
                            <a href="{% url 'pagina_web:noticia_id' noticia_destacada.id %}">
                                <img src="{{ noticia_destacada.imagenes.first.imagen.url }}" alt="">
                            </a>
                            <a href="{% url 'pagina_web:noticia_id' noticia_destacada.id %}">
                                <p class="caption">{{ noticia_destacada.titular }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <script>
                // You can also use "$(window).load(function() {"
                $(document).ready(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        touch: true,
                        pager: false,
                        nav: true,
                        speed: 500,
                        pause: true,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });
                });
            </script>
            <div class="clearfix"></div>
        </div>
        <!--  Banner noticias destacadas -->

        <!--  Noticias  -->
        <div class="top-news">
            <div id="div-noticias" class="top-inner">
                {% for noticia in noticias %}
                    <div class="col-md-6 top-text">
                        <div class="top-text_img">
                            <a href="{% url 'pagina_web:noticia_id' noticia.id %}"><img
                                    src="{{ noticia.imagenes.first.imagen.url }}" class="img-responsive"
                                    alt=""></a>
                        </div>
                        <h5 class="top"><a href="{% url 'pagina_web:noticia_id' noticia.id %}">{{ noticia.titular }}</a>
                        </h5>
                        <p>{{ noticia.lead }}</p>
                        <p class="top-text_fecha">
                            {{ noticia.fecha }}
                            <!--<a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>0</a>-->
                        </p>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
        <!--  Noticias -->

        <!----------------btn ver mas-------------------->
        <div class="contenedor_btn_vermas">
            <a id="btn-ver-mas" class="btn_ver_mas">Ver M&aacutes</a>
        </div>
        <!----------------btn ver mas-------------------->


        <!-- banner_publicitario_down -->
        <div class="banner_publicitario_noticia">
            <div class="contenido_publicidad_noticia">
                <h5>Seccion Banner Publicitario!!!<span>&#160;</span></h5>
            </div>
        </div>
    </div>
    <!--//banner-section-->
    <div class="banner-right-text">
        <!-- contenedor publicitario -->
        <div class="col-md-12 item-details container_embed banner_right_principal">
            <div class="contenido_right_principal">
                <h5>Seccion Banner Publicitario<span>&#160;</span></h5>
            </div>
        </div>
        <h3 class="tittle"><span class="glyphicon glyphicon-facetime-video" style="color: red;"></span> Videos</h3>
        <!--/general-news-->
        <div class="general-news">
            <div class="general-inner">
                <div id="contenedor-videos-facebook-live" class="edit-pics">
                </div>
            </div>
        </div>
    </div>

{% endblock %}