{% extends 'base/base.html' %}
{% block title %}
    Categoria de mapa
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Registrar categoria de mapa</h4>
                </div>
                <div class="content">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="botones" style="margin-top: 30px;">
                            <button type="submit" class="btn btn-primary active">Registrar</button>
                            <a class= "btn btn-default active" href="{% url 'mapa:categoria_listar' %}">Cancelar</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}