/*------------------colores-----------------
rgb(152,215,229) -- azul aguamarina-header
F2CB7F -- amarillo top-menu
76A7D8 -- azul top-menu
F56666 -- rojo top menu
80B493 -- verde top menu
gris-- banner-publicidad
--*/
html,
body,
#wrap {
    height: 100%;
}

body > #wrap {
    height: auto;
    min-height: 100%;
}

/***ESTILOS DE LOS BANNER PUBLICITARIOS***/

.banner_cabecera {
    width: 98%;
    margin: auto;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    top: 60px;
}

.contenido_publicidad_cabecera {
    height: 100%;
    background: url("../images/banners/nonna@2x.png") no-repeat;
    background-size: 100% 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.banner_publicitario_noticia {
    height: 120px;
}

.contenido_publicidad_noticia {
    height: 120px;
    box-sizing: border-box;
    background: url("../images/banners/OasisPlaza@2x.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
}

.banner_right_principal {
    box-sizing: border-box;
    background: url("../images/banners/poteSeguros@2x.png") no-repeat;
    background-size: 100% 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.banner_right {
    height: 200px;
}

.contenido_publicidad_right_0 {
    height: 200px;
    box-sizing: border-box;
    background: url("../images/banners/Burguemania0.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
}

.contenido_publicidad_right_1 {
    height: 200px;
    box-sizing: border-box;
    background: url("../images/banners/colorVerano0.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
}

.contenido_publicidad_right_2 {
    height: 200px;
    box-sizing: border-box;
    background: url("../images/banners/sorprendiendo.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
}

.contenedor_publicitario_movil {
    display: none;
}

/***************btn ver mas********************/
.contenedor_btn_vermas {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.btn_ver_mas {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00214D;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 1em;
    -webkit-box-shadow: 0px 10px 48px -10px rgba(175, 175, 175, 0.6);
    -moz-box-shadow: 0px 10px 48px -10px rgba(175, 175, 175, 0.6);
    box-shadow: 0px 10px 48px -10px rgba(175, 175, 175, 0.6);
}

.btn_ver_mas:hover {
    -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
    color: #ffffff;
}

/***************ScrollTop********************/

.nav-up {
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: top .5s;
}

.header {
    -webkit-transition-duration: .8s;
    transition-duration: .8s;

    -webkit-transition-timing-function: cubic-bezier(0, .41, 1, -0.31);
    transition-timing-function: cubic-bezier(0, .41, 1, -0.31);

    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

/***********************************/
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background: #FFf;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

a:hover, h5.inner.two a:hover {
    text-decoration: none;
    color: #000;
}

input[type="button"], input[type="submit"], li.parallelogram {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat-Regular';
    font-weight: 700;

}

p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

/*****************************/
.btn_store {
    display: block;
    width: 135px;
    height: 40px;
    max-width: 100%;
    height: auto;
}

.gradient a {
    position: relative;
    right: 2.5%;
}

.gradient p {
    font-size: 12px;
    position: relative;
    left: 2.5%;
}

.gradient {
    min-width: 100%;
    height: 50px;
    color: #fff;
    padding: 0.3em;
    position: fixed;
    z-index: 998;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(127deg, #F2CB7F, #f56666, #76A7D8, #80b493);
    background-size: 800% 800%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/*************************************************/

/************ESTILOS TOP-HEADER***************/
.linea {
    border-right: 3px solid;
    border-color: #fff;
}

#fb-btn {
    margin-top: 10px;
}

#profile, #logout {
    display: none;
}

.top-header {
    padding: 0em 2em;
    background: rgb(152, 215, 229);
    margin: 0;
    position: fixed;
    width: 100%;
    transition: top 0.5s ease-in-out;
}

ul.top-nag {
    float: left;
    display: none;
}

ul.top-nag li {
    display: inline-block;
    margin-right: 0;
    float: left;
}

ul.top-nag a {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    margin: 6px 5px;
    padding-top: 10px;
    padding-right: 10px;
}

ul.top-nag a:hover, ul.top-nag a.active {
    background-color: rgba(152, 215, 229, 0.5);
}

ul.top-nag a.active {
    color: #fff;
}

ul.top-nag li img {
    margin-top: 0.8em;
}

.search-box {
    float: right;
    padding: 0.5em;
}

.b-search {
    position: relative;
    border: 1px solid #fff;
    padding: 0.2em 0;
    background: rgba(0, 0, 0, 0.4);
    width: 200px;
}

.b-search input[type="text"] {
    width: 90%;
    outline: none;
    padding: 0em 0.6em;
    font-size: 0.9em;
    color: #fff;
    position: relative;
    border: none;
    background: none;
}

.b-search input[type="submit"] {
    background: url(../images/search.png) no-repeat 0px 2px;
    border: none;
    height: 25px;
    width: 20px;
    position: absolute;
    outline: none;
    right: 2px;
}

.logo {
    display: block;
    background: #00214D;
}

.logo img {
    display: block;
    margin: 0 auto;
}

.header-top-right form input[type="text"] {
    font-size: .9em;
    color: #FFFFFF;
    float: left;
    outline: none;
    border: 1px solid #003366;
    padding: 0.5em;
    background: #003366;
    -webkit-appearance: none;
}

.header-top-right form input[type="submit"] {
    color: #FFF;
    background: #fff url(../images/search.png) no-repeat 10px 8px;
    width: 26px;
    font-size: 16px;
    float: left;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    text-transform: uppercase;
    -webkit-appearance: none;
}

.header-top-right {
    float: right;
    margin: 0.5em 0 0 0;
}

/* Effect 16: fall down */
.cl-effect {
    margin-top: 3em;
}

.cl-effect-16 a {
    color: #6f8686;
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
}

.cl-effect-16 a::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}

nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1em;
}

nav a:hover,
nav a:focus {
    outline: none;
}

/************END***************/

/************ESTILOS MODAL BUSCAR**************/

.modal1 {
    background: rgba(255, 255, 255, .5)
}

.tamaño_modal {
    width: 90%;
    max-width: 1800px;
    margin: 30px 5%;
}

.modal-header {
    justify-content: flex-end;
    flex-wrap: wrap;
}

.buscador {
    width: 100%;
    margin: 0;
}

#inputSearch {
    padding: 0;
    margin: .3em auto 0;
    border: none;
    height: 60px;
    font-size: 50px;
    box-shadow: none;
}

.card_noticia {
    height: 450px;
    margin-bottom: .5em;
    overflow: hidden;
}

.contenedor_img_card {
    height: 60%;
    width: 100%;
    overflow: hidden;
    margin-bottom: .3em;
}

.contenedor_img_card img {
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
}

h5.top_card a {
    line-height: 1.2em;
    font-size: 1.2em;
    color: #00214D;
    font-weight: 600;
}

.card_noticia p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.2em;
    color: #777;
    margin: 0.5em 0;
}

.card_noticia .card_fecha {
    font-size: 0.7em;
    margin: 0;
    font-weight: 800;
    color: #00214D;
}

/************END***************/

/************ESTILOS TOP-NAV**************/
.hr {
    width: 80%;
    border-top: solid 1px #ffffff;
    margin: 0 10%;
}

.icon__menu {
    font-size: 18px;
    border-radius: 15px;
    padding: 5px 5px 5px 6px;
    top: -23px;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.top-menu ul li:hover .icon__menu {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg);
}

.top-menu ul li ul {
    margin: 0;
    padding: 0;
}

.top-menu ul li ul li {
    margin: 0;
    padding: 0;
}

.li__icon {
    height: 0;
}

.btn-magazine, .glyphicon-play {
    background-color: #F2CB7F;
}

.btn-noticias, .icon-noticias {
    background-color: #76A7D8;
}

.btn-deportes, .icon-deportes {
    background-color: #F56666;
}

.btn-ciudad {
    background-color: #80B493;
    border-bottom: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ultimo-boton {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top-menu ul {
    margin-top: 4em;
}

.top-mapa ul {
    margin-top: 2em;
}

.top-nav {
    float: left;
    background-color: #00214D;
    width: 15%;
    position: fixed;
    height: 100vh;
    z-index: 3;
    padding: 0;
}

.contenedor_top-nav {
    background-color: #00214D;
    padding: 5em 1em;
}

.top-menu ul li {
    display: block;
    color: #fff;
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: auto;
}

.top-menu ul div {
    display: block;
    color: #fff;
    text-align: center;
    margin: auto;
    height: 0;
}

.top-menu ul li a {
    margin: 0;
    padding: 0 25px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    position: relative;
}

.top-mapa ul li {
    display: block;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.top-mapa ul li a {
    margin: 0;
    padding: 0 25px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
}

/************END***************/

/********STAR HOME--CONTENEDOR 9*/
.main {
    float: right;
    width: 85%;
    padding: 0;
}

.banner-section {
    width: 67%;
    float: left;
    padding: 2em 1em 1.5em 1em;
    border-right: 1px solid #ddd;
}

/************END***************/

/***********#footer***************/

#footer {
    position: relative;
    margin-top: 0em;
    height: auto;
    clear: both;
}

/************END***************/

/*********+banner ciudad****************/
.banner-ciudad {
    background: url(../images/banner_ciudad.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.container_ciudad {
    padding: 0;
}

.contenido-ciudad {
    width: 50%;
    float: right;
    text-transform: uppercase;
    margin: auto;
    display: inline-block;
    color: #fff;
    position: relative;
}

.contenido-ciudad ul {
    margin: 3em auto;
}

.contenido-ciudad ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.contenido-ciudad ul a {
    background-color: #fff;
    color: #80B493;
    padding: 5px 30px;
    border-radius: 10px;
}

.contenido-ciudad ul a:hover {
    background: #80B493;
    color: #fff;
    box-shadow: inset 0 0 0 3px #fff;
}

.text-ciudad {
    margin-bottom: 10px;
    border-bottom: 3px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

/************END***************/

/***************footer*******************/

.footer {
    padding: 2em;
    background-color: #fff;
}

.footer-border {
    border-right: 2px solid;
    border-left: 2px solid;
    border-color: rgba(0, 0, 0, 0.3);
}

.footer-grid {
    margin-top: 1em;
}

.footer-grid h4 {
    color: #434142;
    font-size: 2.5em;
    text-align: center;
}

ul.bottom {
    margin-top: 2.5em;
}

ul.bottom li {
    list-style: none;
    display: block;
    margin-top: 1em;
    color: #707073;
    font-size: 0.9em;
    text-align: justify;
}

ul.bottom li a {
    color: #707073;
    font-size: 1em;
}

ul.bottom li a:hover {
    color: #00214D;
}

ul.bottom i {
    color: #000;
    margin-right: 0.5em;
}

ul.side-icons {
    border: none;
    margin-left: 25%;
}

ul.side-icons li {
    list-style-type: none;
    display: block;
}

ul.side-icons li a:hover {
    opacity: 0.7;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
}

#email-suscribete {
    width: 70%;
}

#btn-suscribete {
    color: #fff;
    background-color: #00214D;
    padding: 13px 10px;
    font-size: 15px;
}

.img-center {
    margin: 0 auto;
}

.icon-mediano {
    max-width: 35px;
    max-height: 35px;
}

.icon-small {
    max-width: 25px;
    max-height: 25px;
}

.icon-grande {
    max-width: 40px;
    max-height: 40px;
}

.copy {
    text-align: center;
    background: #000;
    padding: 1em;
}

.copy p {
    color: #fff;
    font-size: 0.9em;
}

/************END***************/

/*--top-move**********/
#toTop span {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    border: none;
    background-image: url(../images/top.svg);
    z-index: 777;
}

/************END***************/

/*-------------------------responsive-------------------------*/

@media (max-width: 1600px) {

    .top-mapa ul li a {
        font-size: 1em;
    }

    /*___________footer____________*/
    .footer {
        padding: 1.5em 1em;
    }

}

@media (max-width: 1440px) {

    .top-mapa ul li a {
        padding: 0 1px;
        font-size: 0.9em;
    }

    .top-mapa ul li img {
        width: 25px;
        height: 25px;
    }

    /*__________footer_____________*/
    .container_ciudad {
        width: 90%;
    }

    #btn-suscribete {
        border-radius: 0;
        width: 23%;
        padding: 13px 0px;
        font-size: 15px;
    }

    #email-suscribete {
        width: 75%;
    }

    #email-suscribete input {
        font-size: 15px;
    }

    .footer-grid h4 {
        color: #434142;
        font-size: 2em;
        text-align: center;
    }
}

@media (max-width: 1366px) {
    .icon__menu {
        top: -18px;
    }

    .top-menu ul {
        margin-top: 3em;
    }

    .top-menu ul li {
        padding-top: 5px;
        padding-bottom: 16px;
    }

    .top-menu ul li a {
        font-weight: 500;
        font-size: 1.2em;
    }

    /*__________footer_____________*/
    ul.side-icons {
        margin-top: 2em;
        margin-left: 3em;
    }

    .footer-grid h4 {
        font-size: 2em;
    }

    #btn-suscribete {
        border-radius: 0;
        width: 23%;
        padding: 10px 5px;
    }

    /*__________publicidad_____________*/
    .contenido_right_principal h5 {
        letter-spacing: 3px;
        font-size: .85em;
    }

    .contenido_publicidad_right_0 h5 {
        letter-spacing: 3px;
        font-size: .75em;
    }

    /*__________modal buscar_____________*/
    .contenedor_img_card {
        height: 55%;
    }

    h5.top_card a {
        font-size: 1.1em;
    }

    .card_noticia p {
        font-size: 0.85em;
    }

    .card_noticia .card_fecha {
        font-size: 0.7em;
        margin: 0;
        font-weight: 800;
    }

}

@media (max-width: 1280px) {

    /*__________footer_____________*/
    h3.tittle {
        font-size: 1.2em;
    }

    .top-menu ul li a {
        padding: 0 20px;
    }

    ul.bottom {
        margin-top: 1em;
    }

    ul.side-icons {
        margin-top: 1.5em;
        margin-left: .5em;
    }

    .footer {
        padding: .5em;
    }

    .footer-grid h4 {
        font-size: 1.8em;
        text-align: left;
    }

    #btn-suscribete {
        width: 25%;
        padding: 12.3px 5px;
        font-size: 15px;
    }

    #email-suscribete {
        display: block;
    }

    .icon-grande {
        width: 35px;
        height: 35px;
    }

    .icon-mediano {
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 1200px) {

    .card_noticia {
        height: 360px;
    }

}

@media (max-width: 1024px) {

    .contenedor_top-nav {
        padding: 5em .5em;
    }

    /*__________footer_____________*/
    .contenido-ciudad {
        width: 100%;
    }

    .container_ciudad {
        width: 95%;
    }

    ul.side-icons {
        margin-top: 1em;
        margin-left: 0em;
    }

    .footer-grid h4 {
        font-size: 1.5em;
        text-align: left;
    }

    .general-text p, .top-text p, ul.bottom li, .about-content p, p.sub, .response-text-right p {
        font-size: 0.8em;
    }

    h5.top a {
        line-height: 1.6em;
        font-size: 1.2em;
    }

    #email-suscribete {
        width: 100%;
    }

    #btn-suscribete {
        width: 100%;
    }
}

@media (max-width: 991px) {

    .contenedor_top-nav {
        padding: 5em 1em;
    }

    .top-nav {
        float: left;
        width: 25%;
    }

    .main {
        float: right;
        width: 75%;
        padding: 0;
    }

    /*__________footer_____________*/
    .text-ciudad h3 {
        font-size: 20px;
    }

    .contenido-ciudad ul li h4 {
        font-size: 15px;
    }

    .contenido-ciudad ul a {
        padding: 3px 25px;
    }

    .text_miregion {
        max-width: 80%;
        margin: 0 10%;
    }

    .footer-border {
        border-left: none;
    }

    ul.side-icons {
        margin-left: 3em;
    }

    .footer-grid h4 {
        font-size: 1.8em;
        text-align: center;
    }

    .suscribete_border {
        border-left: 2px solid;
        border-color: rgba(0, 0, 0, 0.3);
    }

    /*_________modal buscar_____________*/
    .card_noticia {
        height: 400px;
    }

    .contenedor_img_card {
        height: 60%;
    }

    /*_________banner publicitarios movil_____________*/
    .banner_movil {
        width: 250px;
        display: inline-block;
    }

    .contenedor_publicitario_movil {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        margin: 0 auto;
        width: 80%;
    }

    /*_________banner publicitarios cabecera_____________*/
    .contenido_publicidad_cabecera {
        background: url("../images/banners/nonna0.png");
        background-size: 100% 100%;
    }

    /*_________banner publicitarios cabecera_____________*/
    .contenido_publicidad_noticia {
        background: url("../images/banners/OasisPlaza0.png");
        background-size: 100% 100%;
        height: 90px;
    }

    .banner_publicitario_noticia {

        height: 90px;

    }

    .banner_right_principal {
        background: url("../images/banners/Banner_Pote.png");
        background-size: 100% 100%;
    }

}

@media (max-width: 768px) {

    .footer-div {
        width: 50%;
        margin-bottom: 1em;
        display: table-cell;
        left: 5%;
    }

    .footer-border {
        border: none;
    }

    .footer-border {
        border-right: 2px solid;
        border-color: rgba(0, 0, 0, 0.3);
        border-left: none;
    }

    .suscribete_border {
        border-left: none;
    }

    #toTop span {
        display: none;
    }

    /*_________modal buscar_____________*/
    #contenedor-noticias-search {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card_noticia {
        max-width: 475px;
        height: auto;
        margin-bottom: 2em;
    }

    .contenedor_img_card {
        height: 240px;
    }

    .buscador label {
        font-size: .85em;
    }

    #inputSearch {
        height: 30px;
        font-size: 25px;
    }

}

@media (max-width: 736px) {

    .footer-div {
        width: 50%;
        margin-bottom: 1em;
        display: table-cell;
        left: 10%;
    }

    ul.side-icons {
        margin-left: 0em;
    }

    .text_miregion {
        max-width: 90%;
        margin: 0 5%;
    }

}

@media (max-width: 667px) {

    .top-header {
        padding: 0;
    }

    .contenedor_top-nav {
        padding: 5em 0.7em;
    }

    .text-ciudad h3 {
        font-size: 18px;
    }

    .contenido-ciudad ul li h4 {
        font-size: 13px;
    }

    .contenido-ciudad ul a {
        padding: 2px 20px;
    }

    .footer-div {
        left: 5%;
    }
}

@media (max-width: 640px) {

    ul.side-icons {
        margin-left: 1em;
    }
}

@media (max-width: 600px) {

    ul.top-nag li a {
        font-size: 0.8em;
        font-weight: 600;
    }

    .top-menu ul li a {
        font-size: 1em;
    }

    .top-mapa ul li a {
        font-size: 0.8em;
    }

    ul.side-icons {
        margin-left: 0.5em;
    }

    .copy p {
        font-size: 0.7em;
    }

    .copy p img {
        width: 100px;
    }
}

@media (max-width: 520px) {
    .top-mapa ul li img {
        width: 20px;
        height: 20px;
    }

    .img-center {
        width: 250px;
    }

    .contenido-ciudad ul a {
        font-size: 0.8em;
        padding: 5px 15px;
        font-weight: 600;
    }

    ul.side-icons li a img {
        width: 25px;
        height: 25px;
    }

    ul.side-icons li a {
        font-size: 0.8em;
    }

    .footer-grid h4 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {

    /*_________banner publicitarios movil_____________*/
    .contenedor_publicitario_movil {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 1em auto;
    }

    /*_________banner publicitarios cabecera_____________*/
    .contenido_publicidad_cabecera {
        background: url("../images/banners/nonnaMovil.png");
        background-size: 100% 100%;
        height: 70px;
    }

    /*_________banner publicitarios down_____________*/
    .contenido_publicidad_noticia {
        background: url("../images/banners/oasisMovil.png");
        height: 60px;
        background-size: 100% 100%;
    }

    .banner_publicitario_noticia {
        height: 60px;
        margin: 0px;
    }

    .banner_right {

        height: 150px;

    }

    /********store btn***********/
    div.logo a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
    }

    .gradient {
        height: 60px;
        z-index: 989;
    }

    /********HEADER***********/
    .top-header {
        padding: 0em 0.3em;
    }

    ul.top-nag {
        margin-top: 0.5em;
    }

    ul.top-nag li a {
        font-size: 0.7em;
        padding: 0.4em 0.4em 0.4em 0;
    }

    ul.top-nag li img {
        margin-top: 0.5em;
    }

    .icon-small {
        width: 20px;
        height: 20px;
    }

    .search-box {
        padding: 0;
        width: 30%;
        margin-top: 0.5em;
        transition: ease-in-out, width .35s ease-in-out;
    }

    .b-search {
        padding: 0.2em 0;
        width: 100%;
    }

    .b-search input[type="text"] {
        width: 90%;
        outline: none;
        padding: 0em 0.6em;
        font-size: 0.8em;
    }

    /********MENU***********/
    .top-nav {
        float: none;
        width: 100%;
        height: 21vh;
        text-align: center;
        z-index: 999;
        margin-top: 0em;
    }

    .logo {
        background: url(../images/logo20.png) no-repeat 50% 50%;
        -webkit-background-size: contain;
        background-size: contain;
        height: 3em;
    }

    .logo img {
        display: none;
    }

    .contenedor_top-nav {
        padding: 3.5em 1em 0.7em;
    }

    /********MENU***********/
    ul.ul__top-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 0.5em;

    }

    .li__btn {
        width: 100%;
    }

    .top-menu ul li {

        padding-bottom: 8px;
    }

    .top-menu ul li a {
        font-size: 1em;
    }

    .hr {
        margin-top: -1%;
    }

    .top-mapa {
        width: 40%;
        margin: auto;
    }

    .top-mapa ul {
        margin-top: 1em;
    }

    .top-mapa ul li {
        padding: 5px;
    }

    .top-mapa ul li a {
        font-size: 1em;
    }

    .top-mapa ul li a img {
        width: 25px;
        height: 25px;
    }

    .btn-ciudad {
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .ultimo-boton {
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 0;
    }

    .btn-magazine {
        border-bottom-left-radius: 7px;
    }

    /********MAIN***********/
    .main {
        float: right;
        width: 100%;
        padding: 0;
        margin-top: 0;
    }

    /********FOOTER***********/
    .text-ciudad h3 {
        font-size: 17px;
        font-weight: 300;
    }

    .contenido-ciudad ul li h4 {
        font-weight: 300;
        font-size: 14px;
    }

    .footer-div {
        width: 40%;
        left: 0em;
    }

    ul.side-icons {
        margin-left: 2em;
    }
}

@media (max-width: 414px) {

    /*********FOOTER*************/
    ul.side-icons {
        margin-left: 1em;
    }
}

@media (max-width: 375px) {

    .top-menu ul li a {
        font-size: 0.95em;
        padding: 0 10px;
    }

    .top-mapa ul li a {
        font-size: 0.8em;
    }

    .footer-div {
        padding-right: 10px;
        padding-left: 10px;
    }

    .footer-grid h4 {
        font-size: 1.2em;
    }

    .icon-grande {
        width: 30px;
        height: 30px;
    }

    .copy p img {
        width: 80px;
    }
}

@media (max-width: 320px) {
    /********MENU***********/
    .top-menu ul li {
        padding-bottom: 5px;
        padding-top: 3px;
    }

    .top-menu ul li a {
        font-size: 0.9em;
    }

    .icon__menu {
        top: -15px;
        font-size: 13px;
    }

    .top-mapa ul li {
        padding: 0 0 2px 0;
    }

    .top-mapa ul li a img {
        width: 20px;
        height: 20px;
    }

    .top-mapa ul li a {
        font-size: 0.7em;
    }

}

/* ==========================================================================
   estilos modal publicitario index - mapa - noticia
   ========================================================================== */

.modal_publicitario {
    width: 85%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);

    position: fixed;
    top: 50px;
    left: 15%;
    z-index: 1050;

    display: flex;
    justify-content: center;
    align-items: center;

    /*2s el tiempo en el que se demora en aparecer 3s retraso del efecto despues de cargar page*/

    animation: modal_publicitario 2s 3s forwards;
    visibility: hidden;
    opacity: 0;
}

.contenido_modal {
    margin: auto;
    width: 900px;
    height: 550px;
    background: #ffffff;
    position: absolute;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}

.banner_modal {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.banner_modal img {
    width: 100%;
    height: 100%;

}

.banner_modal p {
    position: absolute;
    top: 55%;
    left: 5%;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    font-size: 30px;
    color: #fff;
    display: none;
}

.descripcion_modal {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo_modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call_action {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-content: center;
}

.call_action h1 {
    float: left;
    position: relative;
    font-size: 25px;
    color: #00214D;
    top: -10px;
}

.call_action h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background: #ffffff;
    border-left: 1px solid #00214D;

    animation: machine 2s 3s alternate steps(20);
}

@keyframes machine {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }

}

.btn_store_banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_store_banner img {
    width: 150px;
}

#cerrar {
    display: none;
}

#cerrar + label {
    position: absolute;
    right: 30px;
    top: 30px;

    color: #00214D;
    font-size: 30px;
    z-index: 9999;
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: baseline;
    justify-content: center;
}

@keyframes modal_publicitario {
    100% {
        visibility: visible;
        opacity: 1;
    }

}

/* ==========================================================================
   responsive design
   ========================================================================== */

@media (max-width: 1280px) {

    .contenido_modal {
        width: 700px;
    }
}

@media (max-width: 991px) {
    .modal_publicitario {
        width: 75%;
        left: 25%;
    }

    .contenido_modal {
        width: 80%;
        height: 450px;
    }

    .banner_modal {
        height: 300px;
    }

    .call_action {
        margin: 0;
    }

    .logo_modal {
        width: 200px;
    }

    .btn_store_banner img {
        width: 130px;
    }

    #cerrar + label {
        right: 25px;
        top: 20px;
        font-size: 18px;
        height: 30px;
        width: 30px;
    }

}

@media (max-width: 768px) {
    .call_action {
        width: 60%;
    }

    .call_action h1 {
        font-size: 20px;
    }

    .btn_store_banner {
        flex-wrap: wrap;
    }

    .logo_modal {
        width: 150px;
    }

}

@media (max-width: 480px) {
    .modal_publicitario {
        width: 100%;
        left: 0;
        top: 0;
    }

    .contenido_modal {
        height: 250px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .banner_modal {
        height: 160px;
    }

    .descripcion_modal {
        height: 75px;
    }

    .logo_modal {
        padding: 15px;
    }

    .call_action h1 {
        top: 0;
        font-weight: bold;
        font-size: 16px;
    }

    .btn_store_banner img {
        width: 80px;
    }

    #cerrar + label {
        right: 7px;
        top: 8px;
        font-size: 15px;
        height: 25px;
        width: 25px;
    }

}

@media (max-width: 375px) {

    .contenido_modal {
        height: 240px;
    }

    .banner_modal {
        height: 150px;
    }

    .logo_modal {
        width: 120px;
    }

    .call_action h1 {
        font-size: 14px;
    }
}

/* ==========================================================================
   responsive
   ========================================================================== */





