html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background: #FFf;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

a:hover, h5.inner.two a:hover {
    text-decoration: none;
    color: #000;
}

a:hover, h5.inner.one a:hover {
    text-decoration: none;
    color: #000;
}

input[type="button"], input[type="submit"], li.parallelogram {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat-Regular';
    font-weight: 700;

}

p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

h1.tittle {
    color: #333;
    font-size: 3em;
    text-align: left;
    margin-bottom: 0.8em;
    font-weight: bold;
}

/********STAR HOME--CONTENEDOR 9*******/
.main {
    float: right;
    width: 85%;
    padding: 0;
}

.banner-section {
    width: 67%;
    float: left;
    padding: 5em 1em 1.5em 1em;
    border-right: 1px solid #ddd;
}

/************END***************/

/***********Slider**************/

.rslides {
    margin: 0 auto 40px;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    font-size: 18px;
    margin: 0 auto 50px;
    max-width: 540px;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

a {
    color: #fff;
    text-decoration: none;
}

/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {

    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    height: 600px;
    background: rgba(0, 0, 0, 0.8);
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Callback example */

h3 {
    font: 20px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
}

.events {
    list-style: none;
}

.callbacks_container {
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks img {
    display: block;
    position: absolute;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, .8);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../images/ctrl_slide.gif") no-repeat left top;
    margin-top: -45px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

@media screen and (max-width: 600px) {
    h1 {
        font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .callbacks_nav {
        top: 47%;
    }
}

/************END***************/

/************Fuentes y contenedor top-news***************/

h5.top a {
    line-height: 1.2em;
    font-size: 1.1em;
    color: #00214D;
    font-weight: 600;
}

h5.top a:hover {
    color: #00214D;
}

span.glyphicon.glyphicon-eye-open:hover, a.span_link {
    color: #00214D;
}

span.glyphicon.glyphicon-eye-open {
    font-size: 12px;
    margin: 0 4px 0 20px;
    color: #333;
}

.b-bottom {
    margin-top: 1em;
}

.top-text img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-inner.second {
    margin-top: 1.3em;
}

.top-text {
    padding: 0 0.5em 1em;
    margin: 1% 0;
    height: 450px;
    overflow-y: hidden;
}

.top-text_img {
    position: relative;
    width: 100%;
    height: 70%;
    margin-bottom: 0.5em;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.1);
}

.top-news {
    padding: 2em 0;
}

.top-text p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.2em;
    color: #777;
    margin: 0.5em 0;
}

.top-text .top-text_fecha {
    font-size: 0.7em;
    margin: 0;
    font-weight: 800;
}

/************END***************/

/*--banner-right-text--*/

.banner-right-text {
    float: right;
    width: 33%;
    padding: 5em 1em 1.5em 1em;
}

h3.tittle {
    color: #333;
    font-size: 2em;
    text-align: left;
    margin-bottom: 0.8em;
}

h3.tittle i {
    font-size: 0.7em;
    color: #FF0021;
}

.item-details {
    margin-bottom: 1em;
    padding: 0;
}

.container_embed {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;

}

.container_embed iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container_embed_small {
    position: relative;
    height: 0;
    padding-bottom: 28.25%;
    overflow: hidden;

}

.container_embed_small iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.descripcion_small {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.td-post-date.two i {
    margin-right: 0.5em;
    font-size: 0.9em;
}

.td-post-date.one i {
    margin-right: 0.5em;
    font-size: 1.2em;
}

i.glyphicon.glyphicon-comment {
    margin-left: 0.5em;
}

h5.inner.two {
    color: #00214D;
    font-weight: 400;
    text-transform: none;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: .5em;
}

h5.inner.one {
    color: #00214D;
    font-weight: 400;
    text-transform: none;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: .1em;
}

.td-post-date.two {
    color: #777;
    margin-top: .5em;
    font-size: 0.9em;
}

.td-post-date.one {
    color: #777;
    margin-top: .5em;
    font-size: 1em;
}

.td-post-date.two i, .td-post-date.one i {
    color: #CECDCD;
}

.td-post-date.two i:hover, .td-post-date.two:hover {
    color: #000;
}

.td-post-date.one i:hover, .td-post-date.one:hover {
    color: #000;
}

/************END***************/

/***********PAGINADO***************/
.pagination {
    display: flex;
    border-radius: 4px;
    width: 100%;
    justify-content: center;
}

/************END***************/

/************Responsive***************/

@media (max-width: 1700px) {
    .rslides li {
        height: 550px;
    }
}

@media (max-width: 1440px) {

    .rslides li {
        height: 500px;
    }

    .top-text_img {
        height: 68%;
    }
}

@media (max-width: 1366px) {

    .top-text_img {
        height: 65%;
    }

    .rslides li {
        height: 425px;
    }

    h5.inner.two {
        color: #00214D;
        font-weight: 400;
        text-transform: none;
        font-size: .85em;
        line-height: 1.5em;
        margin-bottom: .5em;
    }

    .td-post-date.two {
        color: #777;
        margin-top: .5em;
        font-size: .75em;
    }

    h5.inner.one {
        color: #00214D;
        font-weight: 400;
        text-transform: none;
        font-size: 1.2em;
        line-height: 1.5em;
        margin-bottom: .1em;
    }

    .td-post-date.one {
        color: #777;
        font-size: 1em;
    }
}

@media (max-width: 1280px) {

    .rslides li {
        height: 400px;
    }

    .top-text_img {
        height: 63%;
    }

    h5.inner.two {
        color: #00214D;
        font-weight: 400;
        text-transform: none;
        font-size: .75em;
        line-height: 1.5em;
        margin-bottom: .5em;
    }

    .td-post-date.two {
        color: #777;
        margin-top: .5em;
        font-size: .65em;
    }
}

@media (max-width: 1200px) {

    .rslides li {
        height: 380px;
    }

    .top-text_img {
        height: 60%;
    }
}

@media (max-width: 1100px) {

    .callbacks .caption {
        font-size: 18px;
        padding: 10px 15px;
    }

    .rslides li {
        height: 360px;
    }
}

@media (max-width: 1024px) {

    .general-text p, .top-text p, ul.bottom li, .about-content p, p.sub, .response-text-right p {
        font-size: 0.85em;
    }

    .rslides li {
        height: 320px;
    }

    .top-text_img {
        height: 58%;
    }

    .top-text {
        height: 430px;
    }

    h5.top a {
        line-height: 1.15em;
        font-size: 1em;
    }

    .top-text p {
        line-height: 1.15em;
    }

    .top-text .top-text_fecha {
        font-size: 0.65em;
        font-weight: 800;
    }

    h5.inner.two {
        color: #00214D;
        font-weight: 400;
        text-transform: none;
        font-size: .65em;
        line-height: 1.5em;
        margin-bottom: .5em;
    }

    .td-post-date.two {
        color: #777;
        font-size: .55em;
    }

    h5.inner.one {
        color: #00214D;
        font-weight: 400;
        text-transform: none;
        font-size: 1em;
        line-height: 1.5em;
        margin-bottom: .1em;
    }

    .td-post-date.one {
        color: #777;
        font-size: .85em;
    }

}

@media (max-width: 991px) {

    .banner-right-text {
        float: right;
        width: 100%;
        padding: 1em 1em 1.5em 1em;
        display: none;
    }

    .main {
        float: right;
        width: 75%;
        padding: 0;
    }

    .banner-section {
        width: 100%;
        float: left;
        padding: 3em 1em 1.5em 1em;
        border-right: none;
    }

    h1.tittle {
        margin: 0.5em 0 0.3em 0;
        font-size: 2.5em;
    }

    .rslides li {
        height: 300px;
    }

    .top-text_img {
        height: 60%;
    }

    .top-text {
        width: 50%;
        float: left;
        margin: 0 0 .5em 0;
        height: 360px;
    }

    .item-pic {
        padding: 0;
        float: left;
    }

    .item-details {
        float: right;
        width: 72%;
        padding: 0;
    }
}

@media (max-width: 900px) {

    .rslides li {
        height: 370px;
    }

    .top-text {
        height: 371px;
    }

    .callbacks .caption {
        font-size: 15px;
    }
}

@media (max-width: 852px) {

    .rslides li {
        height: 348px;
    }

    .top-text_img {
        height: 55%;
    }

    .top-text {
        height: 360px;
    }

    h5.top a {
        line-height: 1.1em;
        font-size: 0.9em;
    }

    .top-text p {
        line-height: 1.1em;
    }
}

@media (max-width: 768px) {

    .rslides li {
        height: 310px;
    }
}

@media (max-width: 736px) {

    h1.tittle {
        font-size: 2em;
    }

    .rslides li {
        height: 298px;
    }

    .top-text p {
        font-size: 0.8em;
    }
}

@media (max-width: 640px) {

    .rslides li {
        height: 250px;
    }

    .top-text_img {
        height: 50%;
    }

    .contenido_publicidad_cabecera h5 {
        font-size: 15px;
    }

    .contenido_publicidad_noticia h5 {
        font-size: 10px;
    }
}

@media (max-width: 560px) {
    .rslides li {
        height: 220px;
    }

    .top-text p {
        font-size: 0.75em;
    }
}

@media (max-width: 480px) {

    .banner_cabecera {
        display: none;
    }

    /********MAIN***********/
    .main {
        float: right;
        width: 100%;
        padding: 0;
        margin-top: 0;
    }

    .banner-section {
        width: 100%;
        float: left;
        padding: 13em 1em 1.5em 1em;
        border-right: none;
    }

    .rslides li {
        height: 255px;

    }

    .top-text {
        padding: 0;
        width: 80%;
        height: auto;
        margin: 0.5em 10%;
    }

    .top-text_img {
        height: 200px;
    }

    .top-text img {
        height: auto;
    }

    @media (max-width: 414px) {
        .banner-section {
            padding: 13em 0em 1.5em 0em;
        }
    }

    h1.tittle {
        margin: .5em 0 .3em 0;
        font-size: 1.8em;
        text-align: center;
    }

    .callbacks .caption {
        font-size: 12px;
        padding: 10px 10px;
    }

    .rslides li {
        height: 210px;
    }

    .top-news {
        padding: 0;
    }

    h5.top a {
        line-height: 1.2em;
        font-size: 1em;
    }

    .top-text p {
        font-size: 0.85em;
        line-height: 1.2;
    }

    .top-text .top-text_fecha {
        font-size: 0.7em;
    }
}

@media (max-width: 375px) {

    .rslides li {
        height: 195px;
    }

    .top-text_img {
        height: 180px;
    }
}

@media (max-width: 360px) {

    .rslides li {
        height: 185px;
    }
}

@media (max-width: 320px) {

    h1.tittle {
        margin: .25em .5em 0em .5em;
        font-size: 1.5em;
        text-align: center;
    }

    .rslides li {
        height: 185px;
    }

    .top-text {
        padding: 0;
        width: 90%;
        margin: 0.5em 5%;
    }

    .general-text p, .top-text p, ul.bottom li, .about-content p, p.sub, .response-text-right p {
        font-size: 0.83em;
    }
}

.modal_publicitario {
    width: 85%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);

    position: fixed;
    top: 50px;
    left: 15%;
    z-index: 1050;

    display: flex;
    justify-content: center;
    align-items: center;

    /*2s el tiempo en el que se demora en aparecer 3s retraso del efecto despues de cargar page*/

    animation: modal_publicitario 2s 3s forwards;
    visibility: hidden;
    opacity: 0;
}

.contenido_modal {
    margin: auto;
    width: 900px;
    height: 550px;
    background: #ffffff;
    position: absolute;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}

.banner_modal {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.banner_modal img {
    width: 100%;
    height: 100%;

}

.banner_modal p {
    position: absolute;
    top: 55%;
    left: 5%;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    font-size: 30px;
    color: #fff;
    display: none;
}

.descripcion_modal {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo_modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call_action {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-content: center;
}

.call_action h1 {
    float: left;
    position: relative;
    font-size: 25px;
    color: #00214D;
    top: -10px;
}

.call_action h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background: #ffffff;
    border-left: 1px solid #00214D;

    animation: machine 2s 3s alternate steps(20);
}

@keyframes machine {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }

}

.btn_store_banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_store_banner img {
    width: 150px;
}

#cerrar {
    display: none;
}

#cerrar + label {
    position: absolute;
    right: 30px;
    top: 30px;

    color: #00214D;
    font-size: 30px;
    z-index: 9999;
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: baseline;
    justify-content: center;
}

@keyframes modal_publicitario {
    100% {
        visibility: visible;
        opacity: 1;
    }

}

/* ==========================================================================
   responsive design
   ========================================================================== */

@media (max-width: 1280px) {

    .contenido_modal {
        width: 700px;
    }
}

@media (max-width: 991px) {
    .modal_publicitario {
        width: 75%;
        left: 25%;
    }

    .contenido_modal {
        width: 90%;
        height: 450px;
    }

    .banner_modal {
        height: 300px;
    }

    .call_action {
        margin: 0;
    }

    .logo_modal {
        width: 200px;
    }

    .btn_store_banner img {
        width: 130px;
    }

    #cerrar + label {
        right: 25px;
        top: 20px;
        font-size: 18px;
        height: 30px;
        width: 30px;
    }

}

@media (max-width: 768px) {
    .call_action {
        width: 60%;
    }

    .call_action h1 {
        font-size: 20px;
    }

    .btn_store_banner {
        flex-wrap: wrap;
    }

    .logo_modal {
        width: 150px;
    }

}

@media (max-width: 480px) {
    .modal_publicitario {
        width: 100%;
        left: 0;
        top: 0;
    }

    .contenido_modal {
        height: 350px;
    }

    .banner_modal {
        height: 250px;
    }

    .descripcion_modal {
        height: 100px;
    }

    .logo_modal {
        padding: 15px;
    }

    .call_action h1 {
        top: 0;
        font-weight: bold;
        font-size: 20px;
    }

    .btn_store_banner img {
        width: 80px;
    }

}

@media (max-width: 414px) {
    .call_action h1 {
        font-size: 18px;
    }

}

@media (max-width: 375px) {
    .contenido_modal {
        width: 95%;
    }
}

/* ==========================================================================
   responsive
   ========================================================================== */